.external-link:before {
  content: " ";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.25em;
  /* background:  transparent  no-repeat contain center; */
  background-image: url("external-link-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.content p {
  line-height: 1.5em;
}

.time {
  display: inline-block;
  width: 5em;
  text-align: right;
  margin-right: 0.5em;
}

nav {
  font-size: 1.05em;
  display: flex;
  gap: 0.5em;
  padding: 0.025em 0;
}

nav em {
  letter-spacing: 0.05em;
}

nav .active {
  font-weight: bold;
}

.indent {
  padding-left: 2em;
}

